# Lists

In [5]:
fruits=['apple','banana','mango']
print(fruits)

['apple', 'banana', 'mango']

In [6]:
fruits=['apple','banana','mango']
for x in fruits:
    print(x)

apple
banana
mango

# Break in lists

In [8]:
fruits=['apple','banana','mango']
for x in fruits:
    if(x=='banana'):
         break
    else:
        print(x)

apple

# Continue in list

In [9]:
fruits=['apple','banana','mango']
for x in fruits:
    if(x=='banana'):
         continue
    else:
        print(x)

apple
mango

# For else loop

In [12]:
for x in range(1,10,2):
    print(x)
else:
    print("Finally")

1
3
5
7
9
Finally

In [14]:
i=1
while i<6:
    print(i)
    i=i+1
else:  
    print("Finally")

1
2
3
4
5
Finally

In [15]:
z=["a","b","c"]
fruits=['apple','banana','mango']
for x in z:
    for y in fruits:
        print(x,y)

a apple
a banana
a mango
b apple
b banana
b mango
c apple
c banana
c mango

In [2]:
list1=["Rohan",1,3]
print (list1)   #list is ordered,changable and allows duplication

['Rohan', 1, 3]

# LIST Constructor

In [ ]:
list2=list[("rohan",1,3,"rohan","apple","apple")]
list2            #duplication is allowed

list['rohan', 1, 3, 'rohan', 'apple', 'apple']


# Access item in list

In [5]:
list1=["rohan",1,3,"rohan","apple","apple"]
print(list1[3])

rohan

# Range of index

In [6]:
list1=["rohan",1,3,"rohan","apple","apple"]
print(list1[2:5])
print(list1[-4:-1])

[3, 'rohan', 'apple']
[3, 'rohan', 'apple']

In [7]:
list1=["rohan",1,3,"rohan","apple","apple"]
if "apple" in list1:
    print("Yes")

Yes

# Change in  lists

In [10]:
list1=["rohan",1,3,"rohan","apple","apple"]
list1[0]="ram"
print(list1)

['ram', 1, 3, 'rohan', 'apple', 'apple']

In [12]:
list1=["rohan",1,3,"rohan","apple","apple"]
list1[1:3]="AMAN","rahul"
print(list1)

['rohan', 'AMAN', 'rahul', 'rohan', 'apple', 'apple']

# Insert

In [13]:
list1=["rohan",1,3,"rohan","apple","apple"]
list1.insert(2,"hello")
print(list1)

['rohan', 1, 'hello', 3, 'rohan', 'apple', 'apple']

# Append

In [15]:
list1.append("World")
print(list1)

['rohan', 1, 'hello', 3, 'rohan', 'apple', 'apple', 'World', 'World']

# Extend

In [16]:
list1=["rohan",1,3,"rohan","apple","apple"]
list2=["mango",4,6]
list1.extend(list2)
print(list1)

['rohan', 1, 3, 'rohan', 'apple', 'apple', 'mango', 4, 6]

# Remove

In [18]:
list1=["rohan",1,3,"rohan","apple","apple"]
list1.remove("rohan")
list1

[1, 3, 'rohan', 'apple', 'apple']

# Pop

In [19]:
list1=["rohan",1,3,"rohan","apple","apple"]
list1.pop(3)
print(list1)

['rohan', 1, 3, 'apple', 'apple']

# Clear

In [5]:
list1=["rohan",1,3,"rohan","apple","apple"]
list1.clear()
print(list1)

[]

In [10]:
list2=["Apple","Banana","Mango"]
for i in range (len(list2)):
    print(list2[i])

Apple
Banana
Mango

In [11]:
list1=["rohan",1,3,"rohan","apple","apple"]
i=0
while i<len(list1):
    print(list1[i])
    i=i+1

rohan
1
3
rohan
apple
apple

In [12]:
list2=["Apple","Banana","Mango"]
print(x) for x in list2:

SyntaxError: invalid syntax (1183130098.py, line 2)

In [17]:
fruits=["apple","banana","kiwi","Mango","Cherry"]
FRuits = [x.upper() for x in fruits]         #Convert to upper case 
print(FRuits)

['APPLE', 'BANANA', 'KIWI', 'MANGO', 'CHERRY']

In [ ]:
fruits=["aPPle","banANa","Kiwi","MaNgo","CheRrY"]
FRuits = [x.lower() for x in fruits]                #Convert to lower case 
print(FRuits)

['apple', 'banana', 'kiwi', 'mango', 'cherry']

In [18]:
fruits=["apple","banana","kiwi","Mango","Cherry"]
FRuits = [x.capitalize() for x in fruits]  #Capital letter for first letter of each word
print(FRuits)

['Apple', 'Banana', 'Kiwi', 'Mango', 'Cherry']

# Sort

In [1]:
duckworth=["d","u","c","k","w","o","r","t","h"]
duckworth.sort()
print(duckworth)

['c', 'd', 'h', 'k', 'o', 'r', 't', 'u', 'w']

# Reverse list

In [3]:
duckworth=["d","u","c","k","w","o","r","t","h"]
duckworth.sort(reverse=True)
#duckworth.reverse()
print(duckworth)

['w', 'u', 't', 'r', 'o', 'k', 'h', 'd', 'c']

# Joining lits

In [3]:
list1=["d","u","c","k","w","o","r","t","h"]
list2=["apple","banana","kiwi","Mango","Cherry"]
for a in list2:
    list1.append(a)
print(list1)

['d', 'u', 'c', 'k', 'w', 'o', 'r', 't', 'h', 'apple', 'banana', 'kiwi', 'Mango', 'Cherry']

In [4]:
list1=["d","u","c","k","w","o","r","t","h"]
list2=["apple","banana","kiwi","Mango","Cherry"]
list3=list1+list2
print(list3)

['d', 'u', 'c', 'k', 'w', 'o', 'r', 't', 'h', 'apple', 'banana', 'kiwi', 'Mango', 'Cherry']

In [5]:
list1=["d","u","c","k","w","o","r","t","h"]
list2=["apple","banana","kiwi","Mango","Cherry"]
for a in list2:
    list1.extend(a)
print(list1)

['d', 'u', 'c', 'k', 'w', 'o', 'r', 't', 'h', 'a', 'p', 'p', 'l', 'e', 'b', 'a', 'n', 'a', 'n', 'a', 'k', 'i', 'w', 'i', 'M', 'a', 'n', 'g', 'o', 'C', 'h', 'e', 'r', 'r', 'y']